.padre {
  display: -ms-grid;
  display: grid;
  gap: 1rem;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (auto)[4];
      grid-template-rows: repeat(4, auto);
      grid-template-areas: "logo logo logo logo " "portada portada portada portada" "nosotros nosotros nosotros contenido" "footer footer footer footer";
  color: black;
  font-size: 1rem;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 1px;
  word-spacing: 8px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.padre .logo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: logo;
}

.padre .logo nav ul li a:hover {
  color: #444;
}

.padre .portada {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: portada;
}

.padre .contenido {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
  grid-area: contenido;
}

.padre .contenido .produ, .padre .contenido .produ .accesorios, .padre .contenido .produ .zapatos, .padre .contenido .descripcion .accesorios, .padre .contenido .descripcion .zapatos, .padre .contenido .descripcion {
  width: 350px;
  padding-right: 100px;
}

.padre .contenido .produ .accesorios, .padre .contenido .descripcion .accesorios .accesorios, .padre .contenido .descripcion .zapatos .accesorios, .padre .contenido .produ .zapatos, .padre .contenido .descripcion .accesorios .zapatos, .padre .contenido .descripcion .zapatos .zapatos, .padre .contenido .descripcion .accesorios, .padre .contenido .descripcion .zapatos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.padre .nosotros {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: nosotros;
}

.padre .nosotros p {
  max-width: 90%;
  padding: 10px;
  border: 4px;
  line-height: 1.5;
  font-size: 1.35rem;
}

.padre .wtt {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.padre .footer {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: footer;
}

.header {
  display: -ms-grid;
  display: grid;
  gap: 1rem;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (auto)[3];
      grid-template-rows: repeat(3, auto);
      grid-template-areas: "logo logo logo logo " "productos productos productos productos" "footer footer footer footer";
  color: black;
  font-size: 1rem;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 1px;
  word-spacing: 8px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header h2 {
  font-size: 2.4rem;
}

.header h3 {
  font-size: 1.6rem;
}

.header .logo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: logo;
}

.header .logo nav ul li a:hover li {
  color: #444;
}

.header .logo nav ul li a:hover ul {
  display: block;
}

.header .productos {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: productos;
  background-color: whitesmoke;
}

.header .productos .hom, .header .productos .muje, .header .productos .plat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.header .productos .hom .imagen, .header .productos .muje .imagen, .header .productos .plat .imagen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header .productos .hom .imagen:hover, .header .productos .muje .imagen:hover, .header .productos .plat .imagen:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.header .productos .hom .imagen img, .header .productos .muje .imagen img, .header .productos .plat .imagen img {
  border: 1px solid;
  border-radius: 5px;
  border-color: #d9d9d9;
}

.header .wtt {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.header .footer {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: footer;
}

.ropa {
  display: -ms-grid;
  display: grid;
  gap: 1rem;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (auto)[3];
      grid-template-rows: repeat(3, auto);
      grid-template-areas: "logo logo logo logo " "vestir vestir vestir vestir" "footer footer footer footer";
  color: black;
  font-size: 1rem;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 1px;
  word-spacing: 8px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.ropa h2 {
  font-size: 2.4rem;
}

.ropa h3 {
  font-size: 1.6rem;
}

.ropa .logo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: logo;
}

.ropa .logo nav ul li a:hover li {
  color: #444;
}

.ropa .logo nav ul li a:hover ul {
  display: block;
}

.ropa .vestir {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: vestir;
  background-color: whitesmoke;
}

.ropa .vestir .hom, .ropa .vestir .muje {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.ropa .vestir .hom .imagen, .ropa .vestir .muje .imagen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.ropa .vestir .hom .imagen:hover, .ropa .vestir .muje .imagen:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.ropa .vestir .hom .imagen img, .ropa .vestir .muje .imagen img {
  border: 1px solid;
  border-radius: 5px;
  border-color: #d9d9d9;
}

.ropa .wtt {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.ropa .footer {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: footer;
}

.contacto {
  display: -ms-grid;
  display: grid;
  gap: 1rem;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (auto)[4];
      grid-template-rows: repeat(4, auto);
      grid-template-areas: "logo logo logo logo " "dire dire mapa mapa" "formulario formulario formulario formulario" "footer footer footer footer";
  color: black;
  font-size: 1rem;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 1px;
  word-spacing: 8px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.contacto .logo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: logo;
}

.contacto .logo nav ul li a:hover {
  color: #444;
}

.contacto .logo nav ul li a:hover ul {
  display: block;
}

.contacto .dire {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: dire;
}

.contacto .mapa {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: mapa;
}

.contacto .formulario {
  width: 55%;
  height: 100%;
  border: 1px solid black;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: formulario;
}

.contacto .formulario #comenta {
  width: 90%;
  height: 200px;
  text-transform: none;
  font-size: 0.75rem;
}

.contacto .formulario #mail, .contacto .formulario #nom, .contacto .formulario #ape {
  text-transform: none;
  font-size: 0.75rem;
  width: 65%;
}

.contacto .wtt {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.contacto .footer {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: footer;
}

@media screen and (max-width: 768px) {
  * {
    font-size: 1rem;
  }
  .container {
    gap: 0.6 0.3rem;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (auto)[5];
        grid-template-rows: repeat(5, auto);
        grid-template-areas: "logo logo logo" "portada portada portada" "nosotros nosotros contenido" "footer footer footer";
  }
  .header {
    gap: 0.7rem;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (auto)[4];
        grid-template-rows: repeat(4, auto);
        grid-template-areas: "logo logo logo" "po menu menu" "productos productos productos" "footer footer footer";
  }
  .contacto {
    gap: 0.7rem;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (auto)[5];
        grid-template-rows: repeat(5, auto);
        grid-template-areas: "logo logo logo" "dire dire dire" "mapa mapa mapa" "formulario formulario formulario" "footer footer footer";
  }
  #comenta {
    height: 100px;
  }
  #mapa1 {
    width: 80%;
    height: 100%;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #ffffff;
  background-image: linear-gradient(315deg, #ffffff 0%, #f47b7b 74%);
}
