@import "variables";

.header{

    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,auto);
    grid-template-areas:
    "logo logo logo logo "
    "productos productos productos productos"
    "footer footer footer footer";
    @include estilo();
    h2{
        font-size: $n;
    }
    h3{
        font-size: $s;
    }
    .logo{
        grid-area: logo;
        nav{
            ul{ 
                li{
                    a{
                        &:hover{
                            li{
                                color: #444;
                            }
                            ul{
                                display:block;
                            }
                        }
                    }
                }
            }
        }
    }
    .productos{
        grid-area: productos;
        background-color: $bgcolor;
        .hom,.muje,.plat{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: baseline;    
            justify-content: space-evenly;
            transition: all 2s ease;
            .imagen{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                &:hover{
                        transform: scale(1.1);
                }
                img{
                    border: 1px solid;
                    border-radius: 5px;
                    border-color: #d9d9d9;
                }
            }
                
        }
    }
    .wtt{ 
        position: fixed;
            bottom: 20px;
            right: 20px;
    }
    .footer{
        grid-area: footer;
    }

}